<div id="market_trades_wrapper" class="col-xs-12" style="float:right;">
  <div id="market_trades">
    <div class="panel-body-content">
      <table class="table table-hover all-trades">
        <tbody></tbody>
      </table>
     </div>
  </div>
</div>
